<ion-header>
    <ion-navbar>
      <ion-title>
        Gym Buddy
      </ion-title>
      <button ion-button menuToggle>
          <ion-icon name="more"></ion-icon></button>
   
    </ion-navbar>
  </ion-header>
  
  
    
   <!-- <ion-content>
       
        <ion-list>
          <ion-item-sliding *ngFor="let u of users">
              <ion-item>
                  {{u.name}}
              </ion-item>
  
             <!-- <ion-item-options side="right">
                  <button ion-button color="danger" (click)="delete(t)">
                      <ion-icon name="trash"></ion-icon> Delete
                  </button>
              </ion-item-options> 
          </ion-item-sliding>
      </ion-list>
    </ion-content>-->
   <ion-content>
       
    <ion-card  *ngFor="let u of users">

            <ion-item>
              <ion-avatar item-start >
                    <img   src="assets/imgs/placeholder.png">
              </ion-avatar>
              <h2>{{u.username}}</h2>
              <p>{{u.dob}}</p>
            </ion-item>
          
            <ion-card-content>
              <p>{{u.bio}}</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
              
                <button ion-item (click)="deleteUser()">Delete
                </button>
                
              </ion-col>
            </ion-row>
          
          </ion-card>
        </ion-content>
  
  
  