<ion-header>
    <ion-navbar>
      <ion-title>
        My Profile
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    Welcome to my Profile

   <!-- <div><img src="{{ placeholder }}" ></div>
   -->
   <div class="img-holder" >
   <ion-thumbnail item-start>
      <img   src="assets/imgs/placeholder.png">
    </ion-thumbnail>
  </div>
  <div><ion-card>
    <ion-card-header  *ngFor="let p of ppl">
      About  <h1>{{p.name}}</h1>
    </ion-card-header>
    <ion-card-content >
Fitness finatic! 5 years exp as PT
<ion-item *ngFor="let p of ppl">
  <h1>{{p.name}}</h1>
</ion-item>


    </ion-card-content>
  </ion-card></div>
  
 

  </ion-content>