page-home {

    .h3{
        border-color: aliceblue;
    }
    .body{
        background-color: cadetblue;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300%;
        height: 300%;
    }
    
}
